<div class="container" *ngIf="products$ | async as products">
    <div class="col-12 mt-5">
        <div style="display: flex; flex-direction: row; width: 100%;">
            <div style=" overflow: hidden; flex-grow: 1">
                <ag-grid-angular 
                    style="width: 100%; height: 500px;"
                    class="ag-theme-alpine" 
                    [columnDefs]="columnDefs"
                    [defaultColDef]="defaultColDef"
                    [rowData]="products$ | async"
                    [animateRows]="true"
                    [pagination]="true"
                    [rowHeight]="50"
                    [paginationPageSize]="8"
                    rowSelection="multiple"
                    [enableCharts]="true"
                    [enableRangeSelection]="true"
                    (gridReady)="onGridReady($event)">
                </ag-grid-angular>
            </div>
        </div>
        <div *ngIf="error$ | async as error" class="alert alert-danger col-12 my-2" role="alert">
            {{ error.message }}
        </div>
        <div class="col-12 p-0 mt-3 d-flex justify-content-between">
            <button class="btn btn-primary" (click)="openProductModal()">Add product</button>
            <button class="btn btn-secondary" (click)="clearSelection()">Clear Selection</button>
        </div>
    </div>
</div>

<app-product-modal #addProductModalComponent (onAddProduct)="addProduct($event)"></app-product-modal>