/* You can add global styles to this file, and also import other style files */
app-root {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.ag-body-horizontal-scroll-viewport {
    overflow-x: auto;
}

.ag-body-vertical-scroll-viewport {
    overflow-y: auto;
}

.ag-center-cols-container {
    width: 100% !important;
}

.ag-cell {
    width: fit-content !important;
    min-width: 200px !important;
}